.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.search-form {
    display: flex;
    background-color: #2986cc;
    justify-content: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.search-form input {
    border-style: solid;
    border-color: #f3f3f3;
    padding: 8px;
    font-size: 16px;
}

.search-form button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #f3f3f3;
    color: #fff;
    border: none;
    cursor: pointer;
}

.gallery {
    padding: 73px 10px 10px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 10px;
}

.photo-card {
    text-decoration: none;
    box-shadow: 0 1px 6px rgb(46 47 66 / 8%), 0 1px 1px rgb(46 47 66 / 16%), 0 2px 1px rgb(46 47 66 / 8%);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.photo-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.info {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.info-item {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.info-item b {
    text-align: center;
    margin-right: 5px;
    display: block;
    width: 100%;
    font-weight: bold;
}

.load-more {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #2986cc;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.load-more:hover {
    background-color: #0056b3;
}

.load-more:focus {
    outline: none;
}

.lightbox {
    text-decoration: none;
    color: inherit;
}

/* Loader */
.loader {
    width: 100%;
    height: 4.8px;
    display: inline-block;
    position: fixed;
    left: 0;
    overflow: hidden;
}

.loader::after {
    content: "";
    width: 192px;
    height: 4.8px;
    background: #ff0000;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
}

@keyframes animloader {
    0% {
        left: 0;
        transform: translateX(-100%);
    }
    100% {
        left: 100%;
        transform: translateX(0%);
    }
}
