.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.search-form {
    display: flex;
    background-color: #2986cc;
    justify-content: center;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    & input {
        border-radius: 5px 0 0 5px;
        border-style: solid;
        border-color: #f3f3f3;
        padding: 8px;
        font-size: 16px;
    }

    & button {
        border-radius: 0 5px 5px 0;
        padding: 8px 16px;
        font-size: 16px;
        background-color: #f3f3f3;
        color: #fff;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: #e6e6e6;
        }
    }
}

.gallery {
    padding: 73px 10px 10px 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 10px;
}

.photo-card {
    text-decoration: none;
    box-shadow: 0 1px 6px rgb(46 47 66 / 8%), 0 1px 1px rgb(46 47 66 / 16%), 0 2px 1px rgb(46 47 66 / 8%);
    width: 100%;
    height: 100%;
    overflow: hidden;

    & img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    }
}

.info {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.info-item {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;

    & b {
    text-align: center;
    margin-right: 5px;
    display: block;
    width: 100%;
    font-weight: bold;
    }
}

.lightbox {
    text-decoration: none;
    color: inherit;
}

.loader {
    width: 100%;
    height: 4.8px;
    display: inline-block;
    position: fixed;
    left: 0;
    overflow: hidden;

    &::after{
    content: "";
    width: 192px;
    height: 4.8px;
    background: #ff0000;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
    }
}

@keyframes animloader {
    0% {
        left: 0;
        transform: translateX(-100%);
    }
    100% {
        left: 100%;
        transform: translateX(0%);
    }
}
